@model WebApplication.Models.CategoryModel

@{
    ViewBag.Title = "Edit Category";
    Layout = "~/Views/Layout/_AdminLayout.cshtml";

}

@using (Html.BeginForm())
{
    <div style="padding-top:50px">
        @Html.HiddenFor(m => Model.Main_Category.ID)
    <b style="padding-left:20px;text-decoration:underline">Main Category</b><br /><br />
    <span style="padding-right:55px;padding-left:20px">@Html.LabelFor(m => Model.Main_Category.Type) </span><span>:@Html.TextBoxFor(m => Model.Main_Category.Type)</span></div>
    <div>
    <span style="padding-right:5px;padding-left:20px">@Html.LabelFor(m => Model.Main_Category.Description)</span> <span>:@Html.TextBoxFor(m => Model.Main_Category.Description)</span>
    </div><br/>


    <b style="padding-left:20px;text-decoration:underline">Sub Category</b><br /><br />
     <span style="padding-left:90px">Type</span> <span style="padding-left:160px">Description</span> 
    <div class="swing">
            <ul id="list">
                @for(int i = 0; i < Model.Sub_Category.Count;i++)
                {  
                <li class="show" id="li-@Model.Sub_Category[i].ID" style="display:normal">
                 @Html.HiddenFor(m => Model.Sub_Category[i].ID)
                 @Html.HiddenFor(m => Model.Sub_Category[i].Deleted)
                 @Html.TextBoxFor(m => Model.Sub_Category[i].Type)
                 @Html.TextBoxFor(m => Model.Sub_Category[i].Description)
                  <a class="button1" onclick="RemoveOnClick(@Model.Sub_Category[i].ID,@i)" id="BTN-@Model.Sub_Category[i].ID"><i class="fa fa-minus"></i></a>
                </li>
                }
            </ul>
        </div>

    <button type="submit" class="button special">Save</button>
}

<button id="add-to-list">Add a list item</button>

<script>
document.getElementById('add-to-list').onclick = function () {
    var list = document.getElementById('list');
    var newLI = document.createElement('li');
    $("#list").append(' <li class="show">@(Html.TextBoxFor(m => Model.New_Sub_Category[0].Type)) @(Html.TextBoxFor(m => Model.New_Sub_Category[0].Description)) <a class="button1" id="New_BTN-@Model.New_Sub_Category[]"><i class="fa fa-minus"></i></a>');
}

function RemoveOnClick(ID,counter) {
    var li = 'li-' + ID
    var deleted = 'Sub_Category_'+ counter +'__Deleted';
    $('#'+deleted).val('true');
    $('#'+li).hide()
}

</script>

<style>
.swing li {
list-style: none;
height: 0;
line-height: 2em;
margin: 0;
padding: 0 0.5em;
overflow: hidden;
width: 1000px;
transition: all 0.4s ease-out;
opacity: 0;
height: 2em;
}
.swing li.show,.swing li.show1 {
height: 2em;
margin: 2px 0;
opacity: 1;
}

 .button1 {
font-size: 1rem;
text-decoration: none;
border-radius: 2px;
color: #fff;
padding: 4px;
background-color: #4b908f;
cursor:pointer;
}
</style>