@model WebApplication.Models.CategoryModel

@{
    ViewBag.Title = "Edit Category";
    Layout = "~/Views/Layout/_AdminLayout.cshtml";
    int counter = 0;
}

@using (Html.BeginForm())
{
    <div style="padding-top:50px">
        @Html.HiddenFor(m => Model.Main_Category.ID)
    <b style="padding-left:20px;text-decoration:underline">Main Category</b><br /><br />
    <span style="padding-right:55px;padding-left:20px">@Html.LabelFor(m => Model.Main_Category.Type) </span><span>:@Html.TextBoxFor(m => Model.Main_Category.Type)</span></div>
    <div>
    <span style="padding-right:5px;padding-left:20px">@Html.LabelFor(m => Model.Main_Category.Description)</span> <span>:@Html.TextBoxFor(m => Model.Main_Category.Description)</span>
    </div><br/>


    <b style="padding-left:20px;text-decoration:underline">Sub Category</b><br /><br />
     <span style="padding-left:90px">Type</span>    <span style="padding-left:160px">Description</span> 
    <div class="swing">
            <ul id="list">
                @for(int i = 0; i < Model.Sub_Category.Count;i++)
                {
                <li class="show">
                @Html.HiddenFor(m => Model.Sub_Category[i].ID)
                @*<input style="margin-left:15px;" type="text" name="Type" id="Type" value="@Html.ValueFor(m => Model.Sub_Category[i].Type)">
                <input style="margin-left:5px" type="text" name="Description" id="Description" value="@Html.ValueFor(m => Model.Sub_Category[i].Description)">*@
                 @Html.TextBoxFor(m => Model.Sub_Category[i].Type)
                 @Html.TextBoxFor(m => Model.Sub_Category[i].Description)
                </li>

                }
                
            </ul>
        </div>

    <button type="submit" class="button special">Save</button>
}

<button id="add-to-list">Add a list item</button>

<script>
  document.getElementById('add-to-list').onclick = function () {
  var list = document.getElementById('list');
  var newLI = document.createElement('li');
  @*var newInput = '@Html.TextBoxFor(m => Model.New_Sub_Category[counter].Type)';
    var newInput2 = '@Html.TextBoxFor(m => Model.New_Sub_Category[counter].Description)';*@
   
  //newInput.style.cssText = 'margin-left:15px';
  //newInput2.style.cssText = 'margin-left:10px';

  //list.appendChild(newLI);
  //newLI.appendChild(newInput);
    //newLI.appendChild(newInput2);
    $("#list").append(' <li class="show">@(Html.TextBoxFor(m => Model.New_Sub_Category[counter].Type)) @(Html.TextBoxFor(m => Model.New_Sub_Category[counter].Description))');
}
</script>

<style>
    .swing li {
        list-style: none;
        height: 0;
        line-height: 2em;
        margin: 0;
        padding: 0 0.5em;
        overflow: hidden;
        width: 1000px;
        transition: all 0.4s ease-out;
        opacity: 0;
        height: 2em;
    }

        .swing li.show,.swing li.show1 {
            height: 2em;
            margin: 2px 0;
            opacity: 1;
        }
</style>